* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

body {
  height: 100vh;
  #root {
    height: 100%;
  }
}